/* Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Colors */
  --primary: #050c9c;
  --primaryHover: #323ee6;
  --primaryAccents: #00067f;
  --secondary: #3572ef;
  --secondaryAccents: #134bbc;
  --white: #fafafd;
  --whiteAccents: #c1c1c1;
  --black: #08080d;
  --blackAccents: #2e2e36;

  /* Spacing */
  --largeSpacing: 4rem;
  --mediumSpacing: 3rem;
  --smallSpacing: 2rem;
  --tinySpacing: 1rem;
}

/* General */
body {
  background-color: var(--white);
}

main {
  margin-inline: var(--largeSpacing);
}

h1 {
  font-size: 2.5rem;
  /* font-size: clamp(1.5rem, 4rem, 4.5rem);*/
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  /* font-size: 3rem; */
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  /* font-size: 2rem; */
  font-weight: 600;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Outfit", serif;
}

.btn {
  background-color: var(--primary);
  text-decoration: none;
  color: var(--white);
}

/* Navigation start */
a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 70px;
  padding-block: 30px;
  align-items: center;
}

.navbar {
  align-items: center;
  text-align: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-inline: 10px;
}

.NJBLogo {
  display: block;
  width: 10rem;
}

.menu-icon {
  display: none;
}

.NJBLogotest {
  display: none;
}

@media screen and (max-width: 900px) {
  .NJBLogo {
    display: none;
  }

  .NJBLogotest {
    display: flex;
    width: 10rem;
  }

  .menu-icon {
    display: block;
    font-size: 40px;
    color: var(--white);
    z-index: 2;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;

    padding-top: 6rem;

    text-align: center;
    background-color: var(--primary);

    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    margin-block: 0.5rem;
  }
  .navbar.active {
    right: 0;
  }
}
/* Baseret på: https://dev.to/luwadev/how-to-create-a-simple-mobile-responsive-navigation-bar-with-html-css-and-javascript-341h */

/* Navigation slut */

/* Footer start*/
footer {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: var(--white);
}

footer li {
  margin: 0.5rem;
}

footer i {
  margin: 0.5rem;
}

@media screen and (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
}

/* Footer slut*/

/* Forside */
#forside {
  /* ---Hero--- */
  .hero {
    background-image: url(../img/forside/hero.jpg);
    margin-inline: -4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  img {
    width: 100%;
  }

  svg {
    width: 20px;
  }

  .hero h1 {
    margin-top: 20vh;
    margin-bottom: 0;
  }

  .hero h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .hero h1,
  .hero h2 {
    color: var(--white);
    text-align: center;
  }

  .cta {
    text-decoration: none;
    color: var(--black);
    padding-block: 10px;
    padding-inline: 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.425);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
  }

  /* ---Klubnyt--- */
  .clubNews h3 {
    margin-top: 0;
  }

  .clubNews article {
    margin-bottom: 30px;
  }

  .clubNews a {
    margin-top: -20px;
    text-decoration: none;
    color: var(--blackAccents);
    display: flex;
    align-items: center;
  }
  /* ---Sponsorer--- */
  .sponsors {
    margin-top: 10px;
    background-color: var(--primary);
    padding-block: 40px;
    margin-inline: -4.5rem;
  }

  /* ---Kampe og resultater--- */
  .matchesAndResults article {
    border: 2px solid var(--black);
    padding-block: 100px;
    margin-bottom: 20px;
  }

  .matchesAndResults h2 {
    margin-bottom: 10px;
  }

  .matchesAndResults img {
    width: 55px;
    margin-inline: 20px;
  }

  .matchesAndResults div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .matchesAndResults div p {
    display: flex;
    align-items: center;
  }

  .matchesAndResults div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }

  .matchesAndResults div:nth-of-type(2) {
    display: flex;
    align-content: center;
  }

  .result {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .matchesAndResults a {
    margin-top: 15px;
    margin-bottom: -70px;
    display: flex;
    justify-content: center;
    padding-block: 6px;
    margin-inline: 50px;
  }

  .matchesAndResults h4 {
    margin-top: -80px;
  }

  .matchesAndResults p,
  h4 {
    margin-bottom: 0;
  }
  /* ---Fodboldklub--- */
  .joinTheClub p {
    margin-top: 10px;
  }

  .joinTheClub h2 {
    margin-bottom: 0;
  }

  .joinTheClub a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 2px;
    margin-right: 20vw;
    margin-bottom: 15px;
  }
}
