/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    /* Colors */
    --primary: #050c9c;
    --primaryHover: #323ee6;
    --primaryAccents: #00067f;
    --secondary: #3572ef;
    --secondaryAccents: #134bbc;
    --white: #fafafd;
    --whiteAccents: #c1c1c1;
    --black: #08080d;
    --blackAccents: #2e2e36;

    /* Spacing */
    --largeSpacing: 4rem;
    --mediumSpacing: 3rem;
    --smallSpacing: 2rem;
    --tinySpacing: 1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}