/* Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Colors */
  --primary: #050c9c;
  --primaryHover: #323ee6;
  --primaryAccents: #00067f;
  --secondary: #3572ef;
  --secondaryAccents: #134bbc;
  --white: #fafafd;
  --whiteAccents: #c1c1c1;
  --black: #08080d;
  --blackAccents: #2e2e36;

  /* Spacing */
  --largeSpacing: 4rem;
  --mediumSpacing: 3rem;
  --smallSpacing: 2rem;
  --tinySpacing: 1rem;
}

/* General */

main {
  margin-inline: var(--largeSpacing);
}

body {
  font-family: "outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

h1 {
  /* font-size: 4rem; */
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  /* font-size: 3rem; */
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

/* Navigation start */
a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 70px;
  padding-block: 30px;
  align-items: center;
}

.navbar {
  align-items: center;
  text-align: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-inline: 10px;
}

.NJBLogo {
  display: block;
  width: 10rem;
}

.menu-icon {
  display: none;
}

.NJBLogotest {
  display: none;
}

@media screen and (max-width: 900px) {
  .NJBLogo {
    display: none;
  }

  .NJBLogotest {
    display: flex;
    width: 10rem;
  }

  .menu-icon {
    display: block;
    font-size: 40px;
    color: var(--white);
    z-index: 2;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;

    padding-top: 6rem;

    text-align: center;
    background-color: var(--primary);

    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    margin-block: 0.5rem;
  }
  .navbar.active {
    right: 0;
  }
}
/* Baseret på: https://dev.to/luwadev/how-to-create-a-simple-mobile-responsive-navigation-bar-with-html-css-and-javascript-341h */

/* Navigation slut */

/* Footer start*/
footer {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: var(--white);
}

footer li {
  margin: 0.5rem;
}

footer i {
  margin: 0.5rem;
}

@media screen and (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
}

/* Footer slut*/

/* Politik */
#politik {
  h2 {
    font-weight: 300;
    margin-bottom: 0px;
  }

  section p:nth-of-type(1) {
    margin-top: -20px;
  }

  section p:nth-of-type(4) {
    margin-top: 10px;
  }

  ul li {
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 40px;
  }

  div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-end;
  }

  @media screen and (min-width: 900px) {
    section {
      margin-inline: 15vw;
    }
  }
}
